<!DOCTYPE html>
<html	lang="pt"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="'layout/LayoutSimples'">
	
	<head></head>
	
	<body>
		<div layout:fragment="conteudo">
			<div class="aw-error-panel">
				<h1 class="aw-error-panel__code">
					<i class="fa fa-location-arrow">404</i>
				</h1>
				
				<h2 class="aw-error-panel__title">Página não encontrada</h2>
				
				<div class="aw-error-panel__description">
					Desculpa, a página que você tentou acessar não foi encontrada ou não existe.
					Verifique se a URL está correcta ou entre em contacto com a gente se precisar de ajuda.
					<br><br>
					<a href="javascript:history.back()" class="btn btn-primary">Voltar para onde estava</a>
				</div>
			</div>
		</div>
	</body>		
</html>